@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Cantinho do Yolanda (Brasil PH)<br />
    <abbr title="Telefone">P:</abbr>
    (16) 99975-9444
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:brasil.ph@hotmail.com">brasil.ph@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:igorhenriquema@gmail.com">igorhenriquema@gmail.com</a>
</address>