@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <marquee><img src="https://fontmeme.com/permalink/191112/6e294692b26b903e40095f55151712c0.png" /></marquee>
    <marquee><img src="http://arfriodf.com.br/images/icone-venda-de-ar-condicionado.png" /></marquee>
</div>

